.MainWrap {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin: 0 25px;
  height: 71px;

  .FormGroup {
    display: flex;
    font-size: 14px;

    label {
      display: flex;
      align-items: center;
    }
  }

  .FormGroup:not(:last-child) {
    margin-right: 15px;
  }

  select, input {
    width: 150px;
  }

  .CalendarWrap {
    z-index: 10;
  }
}
