@import "../../assets/styles/Variables";

.MainWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 20px 10px;
  overflow-y: auto;
  height: 100%;
  border: 1px solid #e9e9e9;
  background: $background;

  .NewsItem {
    padding: 10px;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    background: $background-light;
    color: $font-color;
    text-decoration: none;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.05) 0 1px 2px 0, rgba(0, 0, 0, 0.05) 0px -1px 4px 0, rgba(0, 0, 0, 0.05) 0 2px 8px 0;
      z-index: 1;
    }
  }

  .NewsItem:not(:last-child) {
    border-bottom: 1px solid $background;
  }

  .ResourceLogo {
    height: 30px;
  }
}
