.HeaderWrap {
    height: 70px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 1px 2px 0, rgba(0, 0, 0, 0.05) 0 1px 4px 0, rgba(0, 0, 0, 0.05) 0 2px 8px 0;
}

.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    @media (min-width: 1200px) {
        margin-right: auto;
        margin-left: auto;
        width: 1160px;
    }

    .Logo {
        height: 45px;
        margin-top: 3px;
        margin-left: 30px;
    }
}
