@import "Variables";
// bootstrap styles override

$theme-colors: (
  "primary": $red,
);

@import '~bootstrap/scss/bootstrap.scss';

.pagination {

  .page-item {

    .page-link {
      color: $font-color;
    }
  }

  .page-item.active {

    .page-link {
      color: white;
    }
  }
}
